@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ProductDetails Page";
}


<div class="breadcrumb-area bg-img ptb-80" style="background-image:url('/ClientTemplate/assets/img/banner/breath.jpg');">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>blog sidebar</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">blog details </li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9 ">
                <div class="blog-details-wrapper">
                    <div class="single-blog-wrapper">
                        <div class="blog-img mb-30">
                            <a href="#">
                                <img src="~/ClientTemplate/assets/img/blog/blog-details.jpg" alt="">
                            </a>
                            <span class="blogpost-time-date">
                                <span class="date">01</span>
                                <span class="month">Feb</span>
                            </span>
                        </div>
                        <h2>
                            Lamb Salad With Fregola.
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprhen voluptate velit esse cillum dolore eu fugiat to nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qei officia deser mollit anim id est to laborum sed ut perspiciatis.</p>
                        <blockquote class="importent-title">
                            <h4>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt labo dolor magna aliqua. Ut enim ad minim veniam quis nostrud.</h4>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendrit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>

                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="sidebar-wrapper gray-bg-7 shop-sidebar-mrg">

                    <div class="sidebar-widget">
                        <h4 class="sidebar-title">Recent Posts</h4>
                        <div class="recent-posts-wrap mt-30">
                            <div class="single-recent-posts mb-20">
                                <div class="recent-posts-img">
                                    <img src="~/ClientTemplate/assets/img/blog/sliderbar-1.jpg" alt="">
                                </div>
                                <div class="recent-posts-content">
                                    <h4>
                                        <a href="#">blog post formet.</a>
                                    </h4>
                                    <span> March 14, 2018</span>
                                </div>
                            </div>
                            <div class="single-recent-posts mb-20">
                                <div class="recent-posts-img">
                                    <img src="~/ClientTemplate/assets/img/blog/sliderbar-2.jpg" alt="">
                                </div>
                                <div class="recent-posts-content">
                                    <h4>
                                        <a href="#">blog post formet.</a>
                                    </h4>
                                    <span> March 14, 2018</span>
                                </div>
                            </div>
                            <div class="single-recent-posts">
                                <div class="recent-posts-img">
                                    <img src="~/ClientTemplate/assets/img/blog/sliderbar-3.jpg" alt="">
                                </div>
                                <div class="recent-posts-content">
                                    <h4>
                                        <a href="#">blog post formet.</a>
                                    </h4>
                                    <span> March 14, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="ptb-30"></div>


